#article-container figure.highlight .highlight-tools {
  background: #eceef2;
  border-bottom: #e3e8f7;
  color: #363636;
}
div#runtime {
  width: 180px;
  margin: auto;
  color: #fff;
  padding-inline: 5px;
  border-radius: 10px;
  background-color: #ffffff;
}
#footer_icons img.footer_logo {
  margin: 1rem;
}
body {
  cursor: url(https://img.gtwxxh.cn/i/file/cur/default.cur), default;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
a,
button:not(:disabled) {
  cursor: url(https://img.gtwxxh.cn/i/file/cur/link.cur), default !important;
}
#article-container .highlight-tools {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  min-height: 1.2rem;
  height: 2.15em;
  background: #1c1c1c;
  color: rgba(238, 255, 255, 0.8);
  font-size: 16px;
}
#article-container .line {
  color: #1c1c1c;
}
[data-theme="dark"] #article-container figure.highlight .highlight-tools {
  background: #30343f;
  border-bottom: #3d3d3f;
  color: #f7f7fa;
}
[data-theme="dark"] #article-container .highlight-tools {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  min-height: 1.2rem;
  height: 2.15em;
  background: #1c1c1c;
  color: #90a4ae;
  font-size: 16px;
}
[data-theme="dark"] #article-container .line {
  color: #f8faff;
}

@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'YSHST';	
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(/font/Font.woff);
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}
*{
  font-family: "YSHST";
}

@media screen and (max-width: 768px) {
  .fish-pond-item {
      width: 100% !important;}
  
  }

.author-info__description{
  color: #121212;
}

#aside-content .card-widget .card-info-avatar .author-status-box .author-status{
  height: 23px;
}

[data-theme="dark"] #aside-content .card-widget .card-info-avatar .author-status-box{
  background-color: #1c1c1c;
}

